<div class="header">
<!--  <div class="logo">{{'WELCOME' | translate}}</div>-->
<!--  <div class="menu">-->
<!--    <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a>-->
<!--    <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a>-->
<!--    <app-translation-toggle></app-translation-toggle>-->
<!--  </div>-->
  <mat-toolbar>
    <span class="logo">{{'WELCOME' | translate}}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <app-translation-toggle></app-translation-toggle>
  </mat-toolbar>
</div>
<div class="main">

</div>
<div class="footer"></div>
