.main-background {
  background-image: url("/assets/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
