.main-background {
  height: calc(100vh - 56px);
  width: 100%;
  object-fit: cover;
}
.base {
  position: relative;
}
.info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
}

.more-info {
  div {
    //width: 90%;
    margin: 24px 16px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  //.left {
  //  margin-left: auto;
  //  text-align: right;
  //}
}

.action-button {
  position: absolute;
  right: 10%;
  bottom: 20%;
  z-index: 10;
  color: orange !important;
  font-size: 8em;
  font-weight: 600;
  text-decoration: none;
  span {
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    padding: 16px 32px;
    border: 1px solid orange;
    &:hover, &:focus, &:active {
      background-color: rgba(255, 255, 255, 0.6);

    }
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .info {
    left: 5%;
    top: 30vh;
    font-size: 24px;
    line-height: 24px;
    width: 35%;
  }
  .more-info {
    margin: 16px 10vw;
    div {
      font-size: 16px;
    }
  }
}
