.street, .city {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  .placeholder {
    margin: 0 8px;
  }
  .big {
    width: 100%;
  }
}

.crisis-area-selection {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 0 24px 0;
  padding: 16px;
  border-radius: 8px;
  background: white;
}
