.donation {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 16px auto;
  padding: 32px;
  //position: absolute;
  //top: 0;
  //right: 10%;
  background-color: rgba(255, 255, 255, 0.8);
}

.donation-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 42px auto;
}

.pickup-address {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.street, .city {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  .placeholder {
    margin: 0 8px;
  }
  .big {
    width: 100%;
  }
}

@media screen and (max-width: 961px) {
  .pickup-address, .donation, .donation-form {
    width: 100%;
  }
}
