
<img src="assets/main-background.jpg" alt="bg" class="main-background">

<div class="data-protection">
  <h2>{{'DATA_PROTECTION_TEXT.TITLE' | translate}}</h2>
  <hr>
  <p><strong>{{'DATA_PROTECTION_TEXT.TITLE_2' | translate}}</strong></p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_1' | translate}}</p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_2' | translate}}</p>
  <p><strong>{{'DATA_PROTECTION_TEXT.TITLE_3' | translate}}</strong></p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_3' | translate}}</p>
  <p><strong>{{'DATA_PROTECTION_TEXT.TITLE_4' | translate}}</strong></p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_4' | translate}}</p>
  <ul>
    <li>{{'DATA_PROTECTION_TEXT.LI_1' | translate}}</li>
    <li>{{'DATA_PROTECTION_TEXT.LI_2' | translate}}</li>
    <li>{{'DATA_PROTECTION_TEXT.LI_3' | translate}}</li>
    <li>{{'DATA_PROTECTION_TEXT.LI_4' | translate}}</li>
    <li>{{'DATA_PROTECTION_TEXT.LI_5' | translate}}</li>
    <li>{{'DATA_PROTECTION_TEXT.LI_6' | translate}}</li>
  </ul>
  <p><strong>{{'DATA_PROTECTION_TEXT.TITLE_5' | translate}}</strong></p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_5' | translate}}</p>
  <p><strong>{{'DATA_PROTECTION_TEXT.TITLE_6' | translate}}</strong></p>
  <p>{{'DATA_PROTECTION_TEXT.TEXT_6' | translate}}</p>
</div>
