<div class="custom-container auth-container">
  <div class="auth-login">
    <h1 class="header">{{ 'AUTH.PW_RESET.TITLE' | translate }}</h1>
    <p class="description">{{ 'AUTH.PW_RESET.DESCRIPTION' | translate }}</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline" floatLabel="auto">
        <mat-label >{{ 'AUTH.PW_RESET.EMAIL' | translate }}</mat-label>
        <input type="text" formControlName="email" matInput  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage() | translate}}</mat-error>
      </mat-form-field>
      <div>
        <button [disabled]="loading" mat-raised-button color="primary" type="submit" >{{ loading ? ('LOADING' | translate) : ('AUTH.PW_RESET.BUTTON' | translate) }}</button>
      </div>
    </form>
    <div class="have-an-account">
      <p>{{'AUTH.REGISTER.GO_TO_LOGIN_DESCRIPTION' | translate}}</p>
      <a class="go-to-login" [routerLink]="'/' + loginUrl">{{'AUTH.LOGIN.TITLE' | translate}}</a>
    </div>
  </div>
</div>
