<img src="assets/main-background.jpg" alt="bg" class="main-background">
<div class="impressum">
  <h2>{{'IMPRESSUM_TEXT.TITLE' | translate}}</h2>
  <hr>
  <p><strong>{{'IMPRESSUM_TEXT.LAW' | translate}}</strong></p>
  <p><strong>{{'IMPRESSUM_TEXT.MEDIA_OWNER' | translate}}:</strong><br>{{'IMPRESSUM_TEXT.ADDRESS' | translate}}</p>
  <p>{{'IMPRESSUM_TEXT.CONTACT' | translate}}</p>
  <p><strong>{{'IMPRESSUM_TEXT.PRESIDENT' | translate}}: </strong><br> Max Mustermann</p>
  <p><strong>{{'IMPRESSUM_TEXT.SECRETARIES' | translate}}:</strong><br> Anna Berg, Andreas Baum</p>
  <p><strong>{{'IMPRESSUM_TEXT.BASIC_DIRECTION' | translate}}</strong><br> {{'IMPRESSUM_TEXT.DIRECTION_DETAIL' | translate}}</p>
  <p><strong>{{'IMPRESSUM_TEXT.RESPONSIBLE' | translate}}:</strong><br> Helfende Hand</p>
  <p><strong>{{'IMPRESSUM_TEXT.IMAGE_RIGHTS' | translate}}:</strong><br> {{'IMPRESSUM_TEXT.IMAGE_DETAIL' | translate}}</p>
  <p><strong>{{'IMPRESSUM_TEXT.DISCLAIMER' | translate}} </strong><br> {{'IMPRESSUM_TEXT.DISCLAIMER_DETAIL' | translate}}</p>
</div>

