<img src="assets/main-background.jpg" alt="bg" class="main-background">

<div class="donation" *ngIf="donations.length > 0 && !loading">
  <h1>{{'DONATION.LIST.TITLE' | translate}}</h1>
  <hr>
  <div class="description">{{'DONATION.LIST.DESCRIPTION' | translate}}</div>

  <div class="mat-elevation-z8">
    <table class="mat-table" mat-table [dataSource]="sortedData"
           matSort (matSortChange)="sortData($event)"
           aria-label="Table for donations">

      <ng-container matColumnDef="deliveryType">
        <th mat-header-cell *matHeaderCellDef
            mat-sort-header="deliveryType"> {{ 'DONATION.PICKUP_TYPE' | translate }} </th>
        <td mat-cell *matCellDef="let row"
            [attr.data-label]="'DONATION.PICKUP_TYPE' | translate"> {{row.deliveryType | deliveryType | translate}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DONATION.EMAIL' | translate }} </th>
        <td mat-cell *matCellDef="let row" [attr.data-label]="'DONATION.EMAIL' | translate"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DONATION.CREATED_AT' | translate }} </th>
        <td mat-cell *matCellDef="let row" [attr.data-label]="'DONATION.CREATED_AT' | translate"> {{row.createdAt | dateFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="crisisAreaId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DONATION.CRISIS_AREA' | translate }} </th>
        <td mat-cell *matCellDef="let row"
            [attr.data-label]="'DONATION.CRISIS_AREA' | translate"> {{row.crisisAreaId | crisisArea:crisisAreas}} </td>
      </ng-container>

      <ng-container matColumnDef="donationTypeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DONATION.DONATION_TYPE' | translate }} </th>
        <td mat-cell *matCellDef="let row"
            [attr.data-label]="'DONATION.DONATION_TYPE' | translate"> {{row.donationTypeId | donationType:donationTypes}} </td>
      </ng-container>

      <ng-container matColumnDef="pickupDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DONATION.DELIVERY_DATE' | translate }} </th>
        <td mat-cell *matCellDef="let row" [attr.data-label]="'DONATION.DELIVERY_DATE' | translate"> {{row.pickupDate  | dateFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="actions">
          <button mat-raised-button color="accent" type="button" (click)="editDonation(row)">
            <mat-icon>info</mat-icon>
            <span>{{'DONATION.LIST.EDIT' | translate}}</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="donations.length" [pageSize]="intialPageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="changePanginator()"
                   aria-label="Select page of users"></mat-paginator>
  </div>
</div>
<div class="donation" *ngIf="donations.length <= 0 && !loading">
  <div class="warn">{{'DONATION.LIST.NOT_FOUND' | translate}}</div>
</div>
<div class="donation" *ngIf="loading">
  <h1>{{'DONATION.LIST.TITLE' | translate}}</h1>
  <hr>
  <div class="description">{{'DONATION.LIST.DESCRIPTION' | translate}}</div>
  <mat-spinner></mat-spinner>
</div>
