/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

// Apply the dark theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);



html, body { height: 100%; overflow-y: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.translation-toggle {
  width: 80px;
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
app-translation-toggle {
  display: flex;
  justify-content: center;
}
.custom-spacer {
  flex: 1 1 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.custom-flex-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
mat-sidenav-content.mat-drawer-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

//mat-toolbar, mat-sidenav-content, mat-sidenav-container {
//  background: transparent !important;
//}
//app-nav-menu  {
//  background: transparent !important;
//}
//body {
//  background-color: transparent !important;
//}
