/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

// Apply the dark theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@import "assets/styles/donations";


html, body { height: 100%; overflow-y: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.translation-toggle {
  width: 80px;
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
app-translation-toggle {
  display: flex;
  justify-content: center;
}
.custom-spacer {
  flex: 1 1 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.custom-flex-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
mat-sidenav-content.mat-drawer-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

//mat-toolbar, mat-sidenav-content, mat-sidenav-container {
//  background: transparent !important;
//}
//app-nav-menu  {
//  background: transparent !important;
//}
//body {
//  background-color: transparent !important;
//}

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.auth-container {
  //@import 'src/styles/colors';
  .header {
    color: #3f51b5;
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    line-height: 1em;
  }
  .pw-reset-link {
    cursor: pointer;
    //text-decoration: none;
    margin-left: auto;
    margin-bottom: 0.4em;
    color: #3f51b5;
    padding: 8px 0;
  }
  .description {
    text-align: center;
    margin-bottom: 5em;
  }
  .login-form, .register-form {
    justify-content: center;
    display: flex;
    flex-direction: column;

    > div {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
    }
  }
  .dont-have-an-account, .have-an-account {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    p {
      margin: 0;
    }
    .go-to-register, .go-to-login {
      padding-left: 1em;
      color: #3f51b5;
      text-decoration: none;
    }
  }

}
.warn {
  color: #f44336;
  font-size: 1.2em;
}

