.details {
  //height: 120px;
  background: grey;
}
.footer-info {
  padding: 0 16px;
  //height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}

@media (max-width: 767px) {
  .footer-info {
    flex-direction: column;
  }
}
