<div class="details">
</div>
<div class="footer-info">
  <div>{{'FOOTER.INFO' | translate}}</div>
  <div class="links">
    <a mat-button aria-label="Impressum" [routerLink]="'/' + routes.IMPRESSUM">
      <span>{{'IMPRESSUM' | translate}}</span>
    </a>
    <a mat-button aria-label="Datenschutz" [routerLink]="'/' + routes.DataProtection">
      <span>{{'DATA_PROTECTION' | translate}}</span>
    </a>
    <a mat-button aria-label="Email" href= "mailto:sindia.hoeller@outlook.com">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
    </a>
  </div>

</div>

